.profile__photo {

  width: 168.75px;
  height: 127.5px;
  margin: 40px 0 0 0;
}

.profile__photo::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: #C4C4C4;

}
